body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: center;
}

